@page "/"

@inject ISnackbar Snackbar

<MudPaper Class="pa-4" Elevation="0">
    <h1>Hello, world!</h1>

    <MudPaper Class="pa-16">
        Welcome to your new app.

        <SurveyPrompt Title="How is Blazor working for you?" />
    </MudPaper>

    <MudButton StartIcon="@Icons.Material.Filled.AddAlert" Variant=Variant.Outlined Color="Color.Primary" OnClick=AddSnackbar>Show snackbar</MudButton>
</MudPaper>


@code
{
    public void AddSnackbar()
    {
        Snackbar.Add("I got a message for you", Severity.Normal, config =>
        {
            config.Onclick = snackbar =>
            {
                SayHello();
                return Task.CompletedTask;
            };
            config.CloseAfterNavigation = true;
        });
    }

    public void SayHello()
    {
        Snackbar.Add("Hello World!");
    }
}
